* {
	margin: 0px;
	padding: 0px;
	font-family: "寰杞榛";
}
body {
	background-color: #F4FFFF;
}
table {
	border: 1px solid darkgray;
}
.tables {
	position: absolute;
	width:95%;
	top: 100px;
	left:30px;
}
thead {
	background-color: lightgray;
}
tbody {
	background-color: white;
}
.btn-text {
	color: white;
	height: 30px;
	font-size: 12px;
}
.table-text {
	position: absolute;
	width: 400px;
	top: 630px;
	left: 92px;
	color: #333333;
}
.table-text span {
	color: steelblue;
}
.table-page {
	position: absolute;
	width: 250px;
	top: 600px;
	left: 857px;
}
.change {
	background-color: #EE9A49;
	height:24px;
	color:white;
	position:absolute;
	left:180px;
	top:7px;
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 3px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 0.8;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
	transition:background-color 1.5s;
	-webkit-transition:background-color 1.5s;
	transition:font-size 0.5s;
	-webkit-transition:font-size 0.5s;
}
.change:hover{
	background-color: #EE7600;
}
.change2 {
	background-color: #EE9A49;
	height:24px;
	color:white;
	position:absolute;
	left:140px;
	top:7px;
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 3px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 0.8;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
	transition:background-color 1.5s;
	-webkit-transition:background-color 1.5s;
	transition:font-size 0.5s;
	-webkit-transition:font-size 0.5s;
}
.change2:hover{
	background-color: #EE7600;
}
.batch-btn{
	position: relative;
	top: 80px;
	z-index: 10;
	left: 40px;
	width: 400px;
}
.batch-btn span{
	position: relative;
	font-size: 14px;
	color: #545454;
	top: 2px;
	margin-right: 10px;
}
td,th { 
	width: 1px; 
	white-space: nowrap; /* 自适应宽度*/ 
	word-break:  keep-all; /* 避免长单词截断，保持全部 */ 
} 